@model List<Budget.Models.ClientDataModel>

@using System.Web.Optimization

@{
    List<Budget.Models.ProjectDataModel> projects;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/eco_styles.css")
     @RenderSection("styles", required: false)
</head>
<body>

    <div class="page-container-2">

        <!-- HEADER -->
        <!-- Flag navigations -->
        <div class="navflag-container">
             <div class="navflag">
                <ul>
                    <li>mauricio.bedoya</li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </div>
        </div>

        <!-- Navigation Level 1 -->        
        <div class="nav1-container">            
            <div class="nav1">                
                <ul>
                    <li><img src="/content/img/person.png" />PRODUCTOR</li>                                        
                </ul>
            </div>
        </div>

        <!-- Sitename -->
        <div class="site-name">
            <p class="title"><a href="index.html">EcoAgencia</a></p>
            <p class="subtitle"><a href="index.html">&nbsp;</a></p>
        </div>      

        <!-- Header banner -->
        <div class="img-header">
            &nbsp;
        </div>

        <!-- Navigation Level 2 -->
        <div class="nav2">
            <ul>
                <li>&nbsp;</li>
                <!--
                <li><a class="selected" href="/User">Campañas</a></li>
                <li><a href="#" >Reportes</a></li>
                    -->
            </ul>
        </div>

        <!-- Buffer after header -->
        <div class="buffer"></div>

        <!-- NAVIGATION -->
        <!-- Navigation Level 3 -->
        <div class="nav3">
            <ul>
                <li class="title">Clientes</li>
                @if (Model != null && Model.Count > 0)
                {
                    foreach (var item in Model)
                    {
                        <li class="group"><a href="#">@item.Name</a></li>
                        {
                            projects = Budget.Business.ProjectBO.GetInstance().GetProjectByClient(Convert.ToInt32(item.ID));
                        }
                        foreach (var pItem in projects)
                        {
                            <li><a href="#" >@pItem.Name</a></li>
                        }
                    }
                }
                
            </ul>            
        </div>

        

        <!-- 	CONTENT -->
        <div class="content2">
            @RenderBody()
        </div>

        <!-- FOOTER -->
        <div class="footer">
            <p><b>Copyright &copy; 2014 Eco Agencia | Todos los derechos reservados</b></p>            
        </div>

        @Scripts.Render("~/Scripts/jquery.js")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
