@model Budget.Models.ProviderDataModel

@using System.Web.Optimization

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @Styles.Render("~/Content/css/style_screen.css")
    @Styles.Render("~/Content/css/style_print.css")
    @Styles.Render("~/Content/css/styles.css")
    @Styles.Render("~/Scripts/datepick/jquery.datepick.css")
    @Styles.Render("~/Content/css/jquery.fancybox.css")
    @Styles.Render("~/Content/css/jspkg-tabs/tabs.css")
</head>
<body>
    <div>

        <form id="editForm" method="post" enctype="multipart/form-data">

            <input id="ID" name="ID" type="hidden" value="@Model.ID.ToString()" />


            <div id="tab-container" class="tab-container">
                <ul class='etabs'>
                    <li class='tab'><a href="#page-main">PRINCIPAL</a></li>
                    <li class='tab'><a href="#page-financial">FINANCIERA</a></li>
                    <li class='tab'><a href="#page-cost">TARIFAS</a></li>
                    <li class='tab'><a href="#page-attachments">ADJUNTOS</a></li>
                </ul>

                <!-- MAIN INFO -->
                <div class="ficha" id="page-main">

                    <table>
                        <tr>
                            <td>@EcoCore.WebSite.Languages.EcoResources.Name<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Name", value = Model.Name, type = "text", size = 80, options = "" }); }
                                <br />

                                <div class="field_details">
                                    80 characters
                                </div>
                                <br />
                            </td>
                            <td>Nombre Comercial<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "CommercialName", value = Model.CommercialName, type = "text", size = 80, options = "" }); }
                                <br />

                                <div class="field_details">
                                    80 characters
                                </div>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>Regimen<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Regimen", value = Model.Regimen, type = "text", size = 45, options = "" }); }
                                <br />

                                <div class="field_details">
                                    45 characters
                                </div>
                                <br />
                            </td>
                            <td>NIT<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "NIT", value = Model.NIT, type = "text", size = 45, options = "" }); }
                                <br />

                                <div class="field_details">
                                    45 characters
                                </div>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>DV<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "DV", value = Model.DV, type = "text", size = 45, options = "" }); }
                                <br />

                                <div class="field_details">
                                    45 characters
                                </div>
                                <br />
                            </td>
                            <td>Código de actividad<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "ActivityCode", value = Model.ActivityCode, type = "text", size = 0, options = "" }); }
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>Dirección<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Address", value = Model.Address, type = "text", size = 100, options = "" }); }
                                <br />

                                <div class="field_details">
                                    100 characters
                                </div>
                                <br />
                            </td>
                            <td>Ciudad<br />

                                @{ Html.RenderAction("ForeignKeyDisplay", "Admin", new { fieldName = "CityID", fieldValue = @Model != null ? @Model.CityID : 0, primaryTable = "City", readOnly = false, data = Plenum.Business.CityBO.GetInstance().GetAll() }); }
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>Teléfono<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Phone", value = Model.Phone, type = "text", size = 50, options = "" }); }
                                <br />

                                <div class="field_details">
                                    50 characters
                                </div>
                                <br />
                            </td>
                            <td>Móvik<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "MobilePhone", value = Model.MobilePhone, type = "text", size = 20, options = "" }); }
                                <br />

                                <div class="field_details">
                                    20 characters
                                </div>
                                <br />
                            </td>
                        </tr>
                        <tr>
                            <td>Email<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Email", value = Model.Email, type = "text", size = 45, options = "" }); }
                                <br />

                                <div class="field_details">
                                    45 characters
                                </div>
                                <br />
                            </td>
                            <td>Representante<br />
                                @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Representative", value = Model.Representative, type = "text", size = 45, options = "" }); }
                                <br />

                                <div class="field_details">
                                    45 characters
                                </div>
                                <br />
                            </td>
                        </tr>
                    </table>

                    Contacto<br />
                    @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "ContactName", value = Model.ContactName, type = "text", size = 45, options = "" }); }
                    <br />

                    <div class="field_details">
                        45 characters
                    </div>
                    <br />

                </div>

                <div class="ficha" id="page-financial">
                    Banco<br />

                    @{ Html.RenderAction("ForeignKeyDisplay", "Admin", new { fieldName = "BankID", fieldValue = @Model != null ? @Model.BankID : 0, primaryTable = "Bank", readOnly = false, data = Budget.Business.BankBO.GetInstance().GetAll() }); }
                    <br />

                    Número de cuenta<br />
                    @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "BankAccountNumber", value = Model.BankAccountNumber, type = "text", size = 45, options = "" }); }
                    <br />

                    <div class="field_details">
                        45 characters
                    </div>
                    <br />
                    Tipo de cuenta<br />

                    @{ Html.RenderAction("ForeignKeyDisplay", "Admin", new { fieldName = "BankAccountTypeID", fieldValue = @Model != null ? @Model.BankAccountTypeID : 0, primaryTable = "Bankaccounttype", readOnly = false, data = Budget.Business.BankaccounttypeBO.GetInstance().GetAll() }); }
                    <br />

                    Dueño de la cuenta<br />
                    @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "BankAccountOwner", value = Model.BankAccountOwner, type = "text", size = 70, options = "" }); }
                    <br />

                    <div class="field_details">
                        70 characters
                    </div>
                    <br />
                    Identificación<br />
                    @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "IdNumber", value = Model.IdNumber, type = "text", size = 30, options = "" }); }
                    <br />

                    <div class="field_details">
                        30 characters
                    </div>
                    <br />
                    Notas<br />
                    @{ Html.RenderAction("FieldDisplay", "Admin", new { name = "Notes", value = Model.Notes, type = "text", size = 500, options = "" }); }
                    <br />

                    <div class="field_details">
                        500 characters
                    </div>
                    <br />

                </div>

                <div class="ficha" id="page-cost">

                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <th style="width:200px;">Area</th>
                            <th>
                                Recurso
                            </th>
                            <th>Valor
                            </th>
                        </tr>
                        <tr>
                            <td rowspan="2">
                                PRODUCCIÓN TÉCNICA
                            </td>
                            <td>
                                CIRCUITO CERRADO DE TV
                            </td>
                            <td>
                                $ 1'000.000
                            </td>
                        </tr>
                        <tr>
                            <td>
                                PANTALLA DE LEDS
                            </td>
                            <td>
                                $ 1'500.000
                            </td>
                        </tr>
                    </table>

                </div>

                <div class="ficha" id="page-attachments">

                    ADJUNTOS

                    </div>

            </div>

            <br />
            <input type="submit" value="Save" />
        </form>

        @Scripts.Render("~/Scripts/jquery.js")
        @Scripts.Render("~/Scripts/jquery.validate.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.plugin.min.js")
        @Scripts.Render("~/Scripts/datepick/jquery.datepick.min.js")
        @Scripts.Render("~/Scripts/jquery.fancybox.js")

        @Scripts.Render("~/Scripts/jspkg-tabs/jquery.hashchange.min.js")
        @Scripts.Render("~/Scripts/jspkg-tabs/jquery.easytabs.min.js")

        <script>

            $(document).ready(function () {

                $('#tab-container').easytabs({
                    animate: false
                });

                $('.fancybox').fancybox();

                //DatePick
                $(function () {


                });


                $("#editForm").validate({
                    rules: {
                        Name: { required: true },
                        BankID: { required: true },
                        BankAccountNumber: { required: true },
                        BankAccountTypeID: { required: true },

                    },
                    messages: {
                        Name: "Name is required",
                        BankID: "BankID is required",
                        BankAccountNumber: "BankAccountNumber is required",
                        BankAccountTypeID: "BankAccountTypeID is required",
                    }
                });

            });


        </script>

    </div>
</body>
</html>
