

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";    
}

<!-- Page title -->
<div id="pageTitle" class="content2-pagetitle">Administration</div>

<iframe id="pageIframe" style="width:95%;border:solid 0px; height:700px;" src=""></iframe>

@section left_body{
    

    <ul class="options">
        <li class="title">@EcoCore.WebSite.Languages.EcoResources.Security</li>
        <li class="group"><a id="optionUsers" href="#">@EcoCore.WebSite.Languages.EcoResources.Users</a></li>
        <li class="group"><a id="optionRoles" href="#">@EcoCore.WebSite.Languages.EcoResources.Roles</a></li>
        <li class="group"><a id="optionAccessRights" href="#">Access Rights</a></li>
    </ul>

    <ul class="options">
        <li class="title">@EcoCore.WebSite.Languages.EcoResources.Templates</li>
        <li class="group"><a id="optionPageTemplates" href="#">Page</a></li>     
    </ul>

    <ul class="options">
        <li class="title">@EcoCore.WebSite.Languages.EcoResources.MasterData</li>
        <li class="group"><a id="optionClients" href="#">@EcoCore.WebSite.Languages.EcoResources.Clients</a></li>
        <li class="group"><a id="optionProviders" href="#">@EcoCore.WebSite.Languages.EcoResources.Providers</a></li>  
        <li class="group"><a id="optionProjects" href="#">Proyectos</a></li>          
        <li class="group"><a id="optionResources" href="#">Recursos</a></li>
        <li class="group">Administración de bancos
            <ul>                
                <li><a id="optionBanks" href="#">Bancos</a></li>
                <li><a id="optionBankAccountTypes" href="#">Tipos de cuenta</a></li>
            </ul>
        </li>
        <li class="group">Otros
            <ul>                
                <li><a id="optionCities" href="#">Ciudades</a></li>           
            </ul>
        </li>
    </ul>

    <ul class="options">
        <li class="title">@EcoCore.WebSite.Languages.EcoResources.ImportData</li>        
        <li class="group"><a id="optionProductBulkImport" href="#">@EcoCore.WebSite.Languages.EcoResources.Clients</a></li>
        <li class="group"><a id="optionProductBulkImport" href="#">@EcoCore.WebSite.Languages.EcoResources.Providers</a></li>        
    </ul>
}

@section scripts{

    <script>

        $(document).ready(function () {

            $("#optionPageTemplates").on("click", function () {
                $("#pageTitle").html("Page Templates");
                $("#pageIframe").attr("src", "/admin/managepagetype");
            });

            $("#optionClients").on("click", function () {
                $("#pageTitle").html("@EcoCore.WebSite.Languages.EcoResources.Clients");
                $("#pageIframe").attr("src", "/admin/manageclient");
            });

            $("#optionProviders").on("click", function () {
                $("#pageTitle").html("@EcoCore.WebSite.Languages.EcoResources.Providers");
                $("#pageIframe").attr("src", "/admin/manageprovider");
            });

            $("#optionProjects").on("click", function () {
                $("#pageTitle").html("Proyectos");
                $("#pageIframe").attr("src", "/admin/manageproject");
            });

            $("#optionBudget").on("click", function () {
                $("#pageTitle").html("Project Budget");
                $("#pageIframe").attr("src", "/admin/manageprojectresource");
            });            

            $("#optionResources").on("click", function () {
                $("#pageTitle").html("Recursos");
                $("#pageIframe").attr("src", "/admin/manageresource");
            });

            $("#optionBanks").on("click", function () {
                $("#pageTitle").html("Banks");
                $("#pageIframe").attr("src", "/admin/managebank");
            });

            $("#optionBankAccountTypes").on("click", function () {
                $("#pageTitle").html("Bank Account Types");
                $("#pageIframe").attr("src", "/admin/managebankaccounttype");
            });

            $("#optionCities").on("click", function () {
                $("#pageTitle").html("Cities");
                $("#pageIframe").attr("src", "/admin/managecity");
            });

            $("#optionProductBulkImport").on("click", function () {
                $("#pageTitle").html("Products - Bulk Insert");
                $("#pageIframe").attr("src", "/admin/manageproduct/bulkinsert");
            });

            $("#optionUsers").on("click", function () {
                $("#pageTitle").html("Users");
                $("#pageIframe").attr("src", "/admin/manageuser");
            });

            $("#optionRoles").on("click", function () {
                $("#pageTitle").html("Roles");
                $("#pageIframe").attr("src", "/admin/managerole");
            });
        });

    </script>

}